#auto-install-peers=true
#link-workspace-packages=false
#prefer-workspace-packages=true
#provenance=true
publish-branch=main
#save-prefix="^"
#save-workspace-protocol=rolling
#strict-peer-dependencies=false
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
#shamefully-hoist=true
